@mixin centrerElement($top, $left){
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@mixin responsive($typedev, $breakpoint){
    @if $typedev == desktop {
        @if $breakpoint == x-small{
            @media(min-width: 0px) and (max-width: 375px){
                @content;
            }
        }
        @if $breakpoint == small{
            @media(max-width: 576px){
                @content;
            }
        }
        @if $breakpoint == medium{
            @media(max-width: 767px){
                @content;
            }
        }
        @if $breakpoint == large{
            @media(max-width: 992px){
                @content;
            }
        }
        @if $breakpoint == x-large{
            @media(max-width: 1200px){
                @content;
            }
        }
        @if $breakpoint == xx-large{
            @media(max-width: 1400px){
                @content;
            }
        }
    }
}