$couleur-white: #fff;
$couleur-grise: #e9e9e9;
$couleur-gris-noir: #4b4b4b;
$couleur-noir: #636363;
$couleur-rouge: #ff5a5f;
$couleur-orange: #ff975a;
$couleur-blue: rgb(17, 13, 235);
$couleur-azur: rgb(16, 211, 236);
$couleur-brown: rgb(243, 121, 8);
$couleur-yellow: rgb(241, 245, 7);


$font-principal: "Playfair Display", sans-serif;
$font-secondaire: "Open Sans", sans-serif;